<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">	

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
         
  <test name="login">
	 <classes>
	   <class name="runner.Login"/>
	 </classes>
   </test>
   
  <test name="loginFalse">
     <classes>
       <class name="runner.LoginFalse"/>
     </classes>
   </test>
</suite>